# Build and dist directories
build/
build/*
dist/
dist/*
release/
release/*

# Node modules
node_modules/
node_modules/*

# Libraries 
superpowered/
superpowered/*
lib/
lib/*


#  Lock and log files
*-lock.json
*.log

# Cache
.eslintcache


# Prod files 
*.prod.js.*
*.prod.js
*.prod.js.map

# Native node modules
*.node

# database 
audio-database/

#dll files
.erb/dll
.erb/dll/*