@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './sidebar.style.scss';

// Temporary fix for ugly ring for accessibility
div {
  outline: none;
}

.table {
  display: block;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  overflow-y: auto;
  overflow-x: auto;

  .tr {
    @apply sticky;
    :last-child {
      .td {
        border-bottom: 0;
      }
    }
  }
  .th,
  .td {
    @apply text-center;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    position: relative;
    :last-child {
      border-right: 0;
    }
    .resizer {
      @apply bg-gray-700;
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(50%);
      z-index: 1;
      touch-action: none;
      &.isResizing {
        background: red;
      }
    }
  }
}
